<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Генерация договора</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
    <h1>Заполните данные для договора</h1>
    <form method="POST" action="/" onsubmit="return validateDates()">
      <label for="full_name">ФИО туриста:</label>
      <input type="text" id="full_name" name="full_name" required><br>

      <label for="date_birth">Дата рождения (дд.мм.гггг):</label>
      <input type="text" id="date_birth" name="date_birth" placeholder="дд.мм.гггг" required oninput="formatDateInput(this, 'input')" onkeydown="handleKeyDown(event, this)" onbeforeinput="handleBeforeInput(event, this)"><br>

      <label for="iin">ИИН:</label>
      <input type="text" id="iin" name="iin" required><br>

      <label for="id_num">Номер удостоверения:</label>
      <input type="text" id="id_num" name="id_num" required><br>

      <label for="contract_number">Номер договора:</label>
      <input type="text" id="contract_number" name="contract_number" required><br>

      <h3>Доп. туристы</h3>
      <div id="tourists_fields"></div>
      <button type="button" onclick="addTouristField()">Добавить туриста</button> <br>

      <h3>Номера</h3>
      <div id="rooms_fields"></div>
      <button type="button" onclick="addRoomField()">Добавить номер</button> <br>

      <label for="start_date">Дата заезда (дд.мм.гггг):</label>
      <input type="text" id="start_date" name="start_date" placeholder="дд.мм.гггг" required oninput="formatDateInput(this, 'input')" onkeydown="handleKeyDown(event, this)" onbeforeinput="handleBeforeInput(event, this)"><br>

      <label for="end_date">Дата выезда (дд.мм.гггг):</label>
      <input type="text" id="end_date" name="end_date" placeholder="дд.мм.гггг" required oninput="formatDateInput(this, 'input')" onkeydown="handleKeyDown(event, this)" onbeforeinput="handleBeforeInput(event, this)"><br>

      <label for="night_num">Кол-во ночей:</label>
      <div class="night-num-container">
        <input type="text" id="night_num" name="night_num" required>
        <button type="button" onclick="calculateNights()">Пересчитать</button>
      </div><br>

      <label for="with_treatment">С лечением:</label>
      <input type="checkbox" id="with_treatment" name="with_treatment"><br>

      <button type="submit">Сгенерировать документ</button>
    </form>
  </div>

  <script src="/static/script.js"></script>
</body>
</html>